
    /* 
            div:将页面分块，块中可以嵌套块，所以要注意，块中的块大小不能大于外面的块
                div独占一行 解决：可以将div加上属性float而且要注意，所有排布在一行的div都要加上float属性
                margin:外边距，
                padding:内边距，文字和边框之间的距离，修改会撑大元素
                display:block;将行级元素变成块级元素
        
        
        */
    body {
      width: 1200px;
      height: 20%;
      background-color: #FDFCF8;
      /* 居中显示 */
      margin: auto;
    }

    #d1 {
      width: 100%;
      height: 17%;

    }

    .d1-left {
      width: 40%;
      height: 80%;
      margin-left: 30px;
      float: left;
      margin-top: 10px;

      font-size: 70px;
    }

    .d1-left span {
      color: brown;
    }

    .d1-right {
      width: 20%;
      height: 40%;
      float: right;
      margin-top: 60px;
      margin-right: 15px;


    }

    .d1-right a {
      color: white;
      font-size: 10px;
      text-decoration-line: none;
      background-color: brown;
      display: block;
      float: left;
      margin-right: 30px;
      padding-top: 3px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }


    #d2 {
      width: 100%;
      height: 70%;

    }

    .d2-head {
      width: 100%;
      height: 8%;
      background-color: #E8E7E3;
    }

    .d2-head a {
      color: #777777;
      text-decoration-line: none;
      display: block;
      float: left;
      font-size: 20px;
      padding-top: 9px;
      padding-bottom: 11px;
      padding-left: 34px;
      padding-right: 34px;
    }

    .d2-head a:hover {
      background-color: #3F3F3F;
      color: #E8E7E3;

    }

    .d2-body {
      width: 100%;
      height: 92%;
    }

    .d2-body-left {
      float: left;
      width: 20%;
      height: 100%;
      border-left: 1px solid #E8E7E3;
      border-right: 1px solid #E8E7E3;
    }

    .d2-body-center {
      float: left;
      width: 59%;
      height: 100%;


    }

    .d2-body-right {
      float: right;
      width: 20%;
      height: 100%;
      border-left: 1px solid #E8E7E3;
      border-right: 1px solid #E8E7E3;
    }

    #d3 {
      width: 100%;
      height: 13%;
      background-color: #E8E7E3;
    }
