div, img {
      margin: 0;
      padding: 0;
    }

    .div_first {
      width: 790px;
      height: 340px;
      margin-top: 100px;
      margin-left: 250px;
      overflow: hidden;
    }

    .div_second {
      width: 2370px;
      position: relative;
      animation: myimg 6s infinite ease-out alternate;
    }

    @keyframes myimg {
      0% {
        left: 0;
      }

      50% {
        left: -790px;
      }


      100% {
        left: -1580px;
      }